@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
  }
  body{
    background-color: #1D1D1D !important;
  }
  main {
    width: 100vh;
    height: 200vh;
    background-color: rgb(214, 214, 214);
  }
  .title img{
    width: 100%;
    height: 50%;
  }
  p{
    font-size: 2.6vh;
    color:#fff;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3%;
    text-align: justify;
  }
  .carousel{
    max-width: 60%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 3%;
  }

  .carousel-item h5{
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.281);
  }
  .carousel-item button{
    font-size: 1rem;
    border:0px;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.616);
  }
  .carousel-item img{
    height: 40vw;
    width: 50vw;
  }

  footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    position: relative;
}
.social_media{
    margin-bottom: 2vh;
}

.bi{
    margin: 1vw;
    color: #fff;
}

.bi:hover{
    opacity: 0.6;
}

.equipe_contato > a{
    text-decoration: none;
    color: #fff;
    margin: 2vw;
    font-size: 0.7rem;
}

.equipe_contato > a:hover{
    opacity: 0.7;
}

#copyright{
    color: rgb(104, 104, 104);
    font-size: 0.5rem;
    position: absolute;
    bottom: 3vh;
}

@media (max-width: 600px) {
    header .navbar {
        display: block;
    }

    header .menu {
        top: 8vh;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 92vh;
        background-color: #000;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        left: -100%;
    }

    header .navbar.active :nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
    }

    header .navbar.active :nth-child(2) {
        opacity: 0;
    }

    header .navbar.active :nth-child(3) {
        transform: translateY(-0.5rem) rotate(-45deg);
    }

    header .menu li a {
        font-size: 1.5rem;
    }

    header .menu li {
        margin: 5vh 0;
    }

    header .menu.active {

        left: 0;
    }
}