body {
 background-color: black;
  }

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3b0858;
  }

  #logo{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 50px;
  }

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("imagens/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #010101;
  text-align: center;
  padding: 20px;
  width: 100%;
}

nav>a{
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 32px;
}

nav ul{
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-right: 4px;
  align-items: center;
  padding: 0%;
  width: 100%;
}

nav ul li{
  text-align: center;
  width: 100%;
}

nav ul li a{
  font-size: 25px;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  width: 100%;
  color: rgb(255, 255, 255);
}

footer{
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  position: relative;
}

.social_media{
  margin-bottom: 2vh;
}

.equipe_contato > a{
  text-decoration: none;
  color: #fff;
  margin: 2vw;
  font-size: 0.7rem;
}

.equipe_contato > a:hover{
  opacity: 0.7;
}


#copyright{
  color: rgb(118, 91, 91);
  font-size: 0.5rem;
  position: absolute;
  bottom: 3vh;
}

header{
  background-color: black;
  text-align: center;
  width: 100%;
}

header h1{
  color: rgb(73, 14, 108);
}

th{
  color: aliceblue;
  font-size: large;
  text-align: justify;
}

wrapper {
  text-align: center;
  display: grid;
  text-decoration: aliceblue;
  grid-row-gap: 50px;
  max-width: 100%;
  }

img{ 
  width: 600px; 
  height: 500px;
  }


