@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  :root{
    --cor1:black;
    --cor2:white;
    --corBackground:#1D1D1D ;
    --fontNomes:1.2em;
    --fontTexto:1.1em;
  }
  
  h1{
    text-align: center;
    color: white;
    font-weight: 300;
  }
  body{
   background-color: var(--corBackground);
  }
  h4{
    height:20px;
    width:80px;
    margin-bottom: 50px;
    font-size: var(--fontNomes);
  }


  header{
    background-color: black;
    display: flex;
    gap: 20px;
    align-items: center;
    
  }

  #separar{
    background-color: white;
    height: auto;
    width: 1px;
  }
  .fa-arrow-left{
    color: white;
    margin-left: 25px;
  }
  /* /Parte dos Perfis, Box/ */
  
  .FlexBox{
    display: flex;
    justify-content: center;
  }
  .bi{
    color: white;
    margin-bottom:20px;
    margin-top: 10px;
  }
  .profile_container{
    position: relative;
    color: var(--cor2);
    background-color: var(--cor1);
    width: 85%;
    margin: 10px auto;
    border-radius: 5%;
  }
  .profile_photo{
    width: 200px;
    border-radius: 50%;
    margin: 10px 30px;
  }
  .profile_SocialMedias{
    width: 150px;
    margin-left: 25vw;
    text-align: center;
  }
  
  .profile_biography{
    width:550px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .profile_biography > p {
    font-size: (--fontTexto);
  }



  /* Responsividade_Mobile */
  @media screen and (max-device-width:735px){
    h4{
      position: absolute;
      left: 59%;
      top: 20%;
      font-size: 1.5em;
    }
    .FlexBox{
      flex-direction: column;
    }
    .profile_photo{
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 10%;
    }
    .profile_biography{
      width: 90%;
      margin: auto;
    }
    .profile_biography >p{
        font-size: 1.1em;
    }
    .profile_SocialMedias{
        display: flex;
        gap: 15px;
    }
    #Perfil_Sara{
      position: absolute;
      top: 30%;
      right: 25%;
    }
    #Perfil_Joao{
      position: absolute;
      top: 30%;
      right: 25%;
    }
    #Perfil_Geraldo{
      position: absolute;
      top: 30%;
      right: 25%;
    }
    #Perfil_Alice{
      position: absolute;
      top: 30%;
      right: 25%;
    }
    .bi{
        width: 50px;
        height: 50px;
  }

}

/* Responsividade_PC */
@media screen and (max-width:880px){
  .profile_container{
    overflow: hidden;
  }
  .profile_photo{
    margin-top: 5%;
    margin-left: 10%;
    width: 30%;
    height: 60%;
  }
  .profile_biography{
    width: 60%;
    height: 60%;
    margin: auto;
  }
  .profile_biography > p{
    width: 80%;
    margin-top: 20px;
    margin-left: 10px;
  }
  .t-alice{
    word-wrap:break-word ;
  }
  .profile_SocialMedias{
      display: flex;
      gap: 15px;
      margin-left: 13vw;
  }

  .bi{
      width: 40px;
      height: 40px;
  }
}

@media screen and (max-width:736px){
  h4{
    margin-left: 10px;
  }
  .profile_container{
    overflow: hidden;
  }
  .profile_biography{
    width: 60%;
    height: 30%;
    margin: auto;
    
  }
  .profile_biography > p{
    width: 80%;
    margin-top: 20px;
    margin-left: 5px;
  }
  .t-sara{
    word-wrap:break-word
  }
  .profile_photo{
    width: 30%;
    height: 30%;
    margin:  auto 10px;

  }
  .profile_SocialMedias{
    gap: 15px;
    margin-left: 6vw;
    
  }
}