@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow-x:hidden;
  }
  body{
    background: #1D1D1D;
  }
  h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 3rem;
    color: #fff;
  }
  p{
    text-align: center;
    color: #fff;
    padding: 6vh;
    padding-left: 8vh;
    padding-right: 8vh;
    background-color: rgba(0, 0, 0, 0.342);
    margin: 15vh;
    margin-top: 0;
    text-align: justify;
    font-size: 2.6vh;
    line-height: 1.5;
  }
  p img{
    width: 100%;
    padding: 5%;
  }
  .volta{
    text-align: end;
    margin-right: 8%;
    padding-bottom: 2%;
    color: #fff;
  }
  @media (max-width: 600px) {
    h1 {
      text-align: center;
      margin: 0.7rem 0;
      font-size: 2rem;
      color: #fff;
    }
    p{
      padding: 3vh;
      padding-left: 4vh;
      padding-right: 4vh;
      background-color: rgba(0, 0, 0, 0.342);
      margin: 3vh;
      margin-top: 0;
      text-align: justify;
      font-size: 2.2vh;
      line-height: 1.5;
    }
    
  }